//COLOR TABLE
$hover-change: #222222;

// stylelint-disable-next-line color-named
$c-white: white; //you can also use "white" directly
//$c-black: //You should never use black. Use $c-gray-800 instead
$c-gray-800: #333333;
$c-gray-700: #666666;
$c-gray-600: #999999;
$c-gray-500: #AAAAAA;
$c-gray-400: #CCCCCC;
$c-gray-300: #DDDDDD;
$c-gray-200: #E9E9E9;
$c-gray-100: #F6F6F6;

$c-red-800: #BB3300;
$c-red-700: #DD4422;
$c-red-600: #EE6644;
$c-red-500: #FF7766;
$c-red-400: #FF9F8C;
$c-red-300: #FFC3BC;
$c-red-200: #FFE6E3;
$c-red-100: #FFF3F3;

$c-green-800: #118800;
$c-green-700: #33A300;
$c-green-600: #55BB22;
$c-green-500: #88D633;
$c-green-400: #AAEE88;
$c-green-300: #C3F3B0;
$c-green-200: #E3FCDC;
$c-green-100: #F0FFEC;

$c-blue-800: #0077CC;
$c-blue-700: #1188EE;
$c-blue-600: #44AAFF;
$c-blue-500: #77BBFF;
$c-blue-400: #AAD6FF;
$c-blue-300: #CAE6FF;
$c-blue-200: #DFF0FF;
$c-blue-100: #EEF6FF;

$c-yellow-800: #997711;
$c-yellow-700: #BF9C00;
$c-yellow-600: #EEBB22;
$c-yellow-500: #FFD333;
$c-yellow-400: #FFE677;
$c-yellow-300: #FFFABB;
$c-yellow-200: #FFFFDD;
$c-yellow-100: #FFFFEC;

$c-orange-800: #BB6600;
$c-orange-700: #DD7711;
$c-orange-600: #EE9911;
$c-orange-500: #FFAA11;
$c-orange-400: #FFBB55;
$c-orange-300: #FFD099;
$c-orange-200: #FFEFDC;
$c-orange-100: #FFF6EC;

$c-shadow-light: rgba(0, 0, 0, 0.2);
$c-item-hover: rgba(0, 0, 0, 0.08);

//BASE NAMES
$c-text-medium: $c-gray-700;
$c-text-dark: $c-gray-800;
$c-text-bright: $c-gray-600;
$c-text-link: $c-blue-700;
$c-text-disabled: $c-gray-400;

$c-text-error: $c-red-800;
$c-text-remark: $c-yellow-800;
$c-text-correct: $c-green-800;

$c-area-border: $c-gray-500;
$c-group-border: $c-gray-400;
$c-element-border: $c-gray-300;

$c-selected-border: $c-blue-500;
$c-selected-background: $c-blue-200;
$c-selected-background-hover: $c-blue-300;

$c-error-border: $c-red-700;
$c-error-background: $c-red-200;
$c-error-background-hover: $c-red-300;

$c-remark-border: $c-yellow-700;
$c-remark-background: $c-yellow-200;
$c-remark-background-hover: $c-yellow-300;

$c-correct-border: $c-green-700;
$c-correct-background: $c-green-200;
$c-correct-background-hover: $c-green-300;

$c-unselected-border: $c-gray-500;
$c-unselected-background-hover: $c-gray-100;

$c-disabled-border: $c-gray-300;
$c-border-explanation: $c-blue-400;
$c-border-answer: $c-green-500;

:export {
  // stylelint-disable property-no-unknown,property-case
  TEXT_CORRECT: $c-text-correct;
  TEXT_ERROR: $c-text-error;
  TEXT_REMARK: $c-text-remark;
  // stylelint-enable property-no-unknown,property-case
}
