//Paddings and Margins
$space-xxs: 4px;
$space-xs: 5px;
$space-s: 10px;
$space-m: 15px;
$space-l: 20px;
$space-xl: 30px;
$space-xxl: 40px;
$space-xxxl: 60px;

//Text
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 15px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 30px;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$line-height-xs: 12px;
$line-height-s: 15px;
$line-height-m: 20px;
$line-height-l: 24px;
$line-height-xl: 30px;
$line-height-xxl: 36px;

//Universal
$min-clickable-height: 44px;
$min-clickable-width: 32px;

//Effects
$shadow-blur-medium: 25px;

//Borders
$border-width-s: 1px;
$border-width-m: 2px;
$confirmation-border: 2px solid;
$border-width-l: 4px;
$border-radius-m: 4px;
$border-radius-l: 10px;

//Button specific
$btn-min-height: 36px;
$btn-size-s: 15px;
$btn-clickable-position: -4px;

//Input field
$input-min-width: 20px;
$input-min-height: 32px;
